/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

#attributes {
    width: 25%;
    background-color: #f9f9f9; 
    border-right: 2px solid #e0e0e0;
    padding: 15px 30px; /* Adjusted padding for a more compact appearance */
    height: 100vh;
    overflow-y: auto;
}

#attributes h2 {
    margin-bottom: 15px;
    color: #d90303c3;
    border-bottom: 1px solid #e0e0e0; /* Thinner border for a more subtle appearance */
    padding-bottom: 5px;
    font-size: 25px; /* Reduced font size for compactness */
}

#attributes label {
    display: block;
    margin-bottom: 5px; /* Reduced margin for compactness */
    font-weight: bold;
    color: #555;
    font-size: 14px; /* Reduced font size for compactness */
}

#attributes input[type="number"],
#attributes select {
    width: 100%;
    padding: 5px; /* Adjusted padding for a more compact appearance */
    margin-bottom: 10px; /* Adjusted margin for a more compact appearance */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size for compactness */
}

#attributes button {
    background-color: #f98c8c;
    color: #fff;
    padding: 8px 12px; /* Adjusted padding for a more compact appearance */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size for compactness */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

#attributes button:hover {
    background-color: #cb0202;
}

#networkContainer {
    width: 75%;
    height: 100vh;
    position: relative;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#network {
    width: 100%;
    height: 100%;
    border: none;
}

#iterationCount {
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: bold;
}

#agentDetails {
    position: absolute;
    top: 45px;  /* Adjust this value based on the height of #iterationCount and desired spacing */
    right: 15px;  /* Aligns with the right positioning of #iterationCount */
    border: 1px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: left;
    display: none;
}


#agentDetails h3 {
    margin-top: 0;
    font-size: 16px; 
}

#agentDetails p {
    margin-bottom: 0;
    font-size: 14px;
}

#agentDetails:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

#colorScaleContainer {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
    align-items: flex-end;
}

#colorScale {
    width: 10px;  /* Thin color scale */
    height: 200px;
    margin-right: 5px;  /* Space between scale and legend */
}

#gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, red, blue);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 14px;
    position: relative;
}

.tick {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.tick:before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    background: black;
    margin-right: 3px;
}

