/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

#attributes {
    width: 25%;
    background-color: #f9f9f9; 
    border-right: 2px solid #e0e0e0;
    padding: 15px 30px; /* Adjusted padding for a more compact appearance */
    height: 100vh;
    overflow-y: auto;
}

#attributes h2 {
    margin-bottom: 15px;
    color: #d90303c3;
    border-bottom: 1px solid #e0e0e0; /* Thinner border for a more subtle appearance */
    padding-bottom: 5px;
    font-size: 25px; /* Reduced font size for compactness */
}

#attributes label {
    display: block;
    margin-bottom: 5px; /* Reduced margin for compactness */
    font-weight: bold;
    color: #555;
    font-size: 14px; /* Reduced font size for compactness */
}

#attributes input[type="number"],
#attributes select {
    width: 100%;
    padding: 5px; /* Adjusted padding for a more compact appearance */
    margin-bottom: 10px; /* Adjusted margin for a more compact appearance */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size for compactness */
}

#attributes button {
    background-color: #f98c8c;
    color: #fff;
    padding: 8px 12px; /* Adjusted padding for a more compact appearance */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Reduced font size for compactness */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}

#attributes button:hover {
    background-color: #cb0202;
}

#networkContainer {
    width: 75%;
    height: 100vh;
    position: relative;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#network {
    width: 100%;
    height: 100%;
    border: none;
}

/* #iterationCount {
    position: absolute;
    top: 15px;
    right: 20px;
    font-weight: bold;
} */

#nodeTypeLegend {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column; /* Changed to column to stack the heading and legendItemsContainer */
}

#nodeTypeLegend h4 {
    margin-bottom: 5px; /* Spacing between the heading and color bar */
    color: #555;        /* Match color with other text elements */
    font-size: 14px;    /* Match font size with other text elements */
    font-weight: bold;  /* Make the heading stand out */
}

.legendItemsContainer {
    display: flex;
    gap: 10px;              /* Adjust the gap between the legend items */
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legendItem svg {
    margin-right: 5px;
}


#controlPanel {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;  /* space between iteration count and dropdown */
    background-color: rgba(255, 255, 255, 0.8);  /* semi-transparent white background */
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#visualizationTopicSelector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#agentDetails {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: none;
    transition: transform 0.3s, box-shadow 0.3s;  /* transition effect for smooth hover */
}

#agentDetails h3 {
    margin-top: 0;
    font-size: 16px; 
}

#agentDetails p {
    margin-bottom: 0;
    font-size: 14px;
}

#agentDetails hr {
    border: 0;  /* Removes default border */
    height: 1px;  /* Adjust this for overall thickness */
    background: linear-gradient(to right, transparent, #aaa, transparent);
    margin: 10px 0;  /* Provides some spacing above and below the line */
}


#agentDetails:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);  /* slight upward movement on hover */
}


#agentDetails input[type="number"] {
    /* width: 100%; */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#agentDetails input[type="number"][readonly] {
    background-color: transparent;  /* Make the background transparent */
    border: none;                   /* Remove the border */
    outline: none;                  /* Remove the focus outline */
    cursor: default;                /* Use the default cursor */
    padding-left: 0;                /* Remove padding, so it looks like plain text */
    margin-bottom: 0;               /* Remove margin for consistent appearance */
}


#agentDetails input[type="number"]:hover:not([readonly]),
#agentDetails input[type="number"]:focus {
    background-color: #f3f3f3;     /* Light gray background on hover/focus */
}

#planDetails {
    position: absolute;
    margin-top: 160px; /* Place it just below the agentDetails box */
    right: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px; /* Rounded corners for consistency */
    max-height: 250px; /* Set a max height */
    overflow-y: auto; /* Enable scrolling if content exceeds max height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Consistent shadow with agentDetails */
    z-index: 2; /* Ensure it's above other elements if needed */
    display: none; /* Initially hidden */
}

#planDetails hr {
    border: 0;  /* Removes default border */
    height: 1px;  /* Adjust this for overall thickness */
    background: linear-gradient(to right, transparent, #aaa, transparent);
    margin: 10px 0;  /* Provides some spacing above and below the line */
}

.planHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#planDetails .planHeader span {
    font-size: 16px;
    font-weight: bold;
    text-align: left; /* Align the header to the left */
}

#executePlanButton {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

#executePlanButton:hover {
    background-color: #f98c8c;
}

#planStepsList {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

#planStepsList li {
    padding: 5px 0; /* Spacing between steps */
    font-size: 12px;
    border-bottom: 1px solid #eee; /* Separator line between steps */
}

#planStepsList .noPlan {
    font-size: 20px;  /* Example font size, can be adjusted as desired */
}

#planStepsList li:last-child {
    border-bottom: none; /* Remove bottom border for the last step */
}

.currentStep {
    font-weight: bold;
    color: red;  /* Use the red accent color you mentioned */
}

.executedStep {
    color: red;
}


#opinionGraph {
    margin-top: 500px;      /* Adds space above the graph */
    border: 1px solid #ccc; /* Optional: Adds a border around the graph */
    background-color: #f9f9f9; /* Optional: Adds a light background color */
    width: 90%;             /* Makes it responsive, adjust as needed */
    max-width: 500px;       /* Set a max-width to ensure it doesn't get too large */
    display: block;         /* To allow for centering */
    margin-left: auto;      /* Centering */
    margin-right: auto;     /* Centering */
    z-index: 2;
}


#generatePlanButton {
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #fd7070; /* Consistent with the color observed for headers */
    border: 1px solid #e0e0e0; /* Border color consistent with other elements */
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 4px; /* Slight rounded corners */
    transition: background-color 0.3s;
}

#generatePlanButton:hover {
    background-color: #b80202; /* Slightly darker shade on hover */
}


#colorScaleContainer {
    position: absolute;
    top: 10px;
    left: 200px;
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    align-items: flex-start;  /* Align children to the start */
}

#colorScaleContainer h4 {
    margin-bottom: 10px; /* Spacing between the heading and color bar */
    color: #555;        /* Match color with other text elements */
    font-size: 14px;    /* Match font size with other text elements */
    font-weight: bold;  /* Make the heading stand out */
}

#colorScale {
    height: 10px;  
    width: 200px;  
    margin-bottom: 5px;  /* Space between scale and legend */
}

#gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, blue, red);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#legend {
    display: flex;
    justify-content: space-between;
    width: 200px;  
    font-size: 14px;
    position: relative;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

}

.modal-content h2 {
    text-align: center;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/* center dependency matrix */
#dependencyMatrix {
    margin: 0 auto;
}

#dependencyMatrix th, #dependencyMatrix td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
}

#dependencyMatrix th {
    font-size: 14px;  /* Reduce font size for headers */
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
}

#dependencyMatrix input[type="number"] {
    width: 100%;
    border: none;  /* Remove border */
    text-align: center;  /* Center text */
    background-color: transparent;  /* Make input transparent */
    outline: none;  /* Remove focus border */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

